<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3><%= @user.name %> has invited you to join his Accountibility team. </h3>
       
        <br>    
        <h4>Achieve great things, together.</h4> 
        
        <p>
            To join the site, just follow  
            <a href="http://http://infinite-beyond-4115.herokuapp.com/signup/<%=@user.remember_token%>">this</a> link.
        </p>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>