<h1 class="page-header">Invite team members</h1>


    <%= form_for :invites, url: create_invites_path, method: :post do |f| %>
      
      <p><%= f.label :Enter_email_addresses_separated_by_commas %></p>
      <%= f.text_area :emails, size: "45x3" %>
      <br>
      <%= f.submit "Invite", class: "btn btn-large btn-primary" %>
    <% end %>


