
    <h1 class="page-header">My Team</h1>
    
    <%if current_user.team_id == nil%>
      <p>No teammates yet</p> 
    <%else%>
      <%teammates = current_user.team.users.where("id != #{current_user.id}")%>
      <div class="row placeholders">
        <%teammates.each do |teammate|%>
          <div class="col-sm-3 placeholder">
              <h3><a href="<%=show_okr_path(teammate.id)%>"><%=teammate.name%></a></h3>
          </div>    
        <%end%>  
        </br>
        </br>
        </br>        
      </div>
    <%end%>


