<h1 class="page-header">My 3 month OKRs</h1>

    <%= link_to "NEW OKR", new_okr_path%>
    <br>
    <br>
    <%okrs = current_user.okrs.all %>
    <%if okrs == nil %>
      <p>No OKRs yet</p> 
    <%else%>
      <%okrs.each do |okr|%>
        <a href="<%=edit_okr_path(okr)%>"><strong>Objective:</strong> <%=okr.objective%></a></br>
        <%i=1%>
    
          <%until okr["kr#{i}"] == nil || okr["kr#{i}"] == "" %>
            Key Result: <%=okr["kr#{i}"]%></br>
            <%i += 1%>
            <%end%>
        <br>
      <%end%>
    <%end%>



