<h1 class="page-header">New To-do</h1>


   <%= form_for :todo, url: create_todo_path, method: :post do |f| %>
   
      <%= f.label :To_do%>
    
      <%= f.text_field :todo%>
      <br>
      
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  

