 <ul class="nav nav-pills">
    <li><%= link_to('My team', '/users/show') %></li>
    <li class="active"><%= link_to('Invite', invite_path) %></li>
    <li><%= link_to('My OKRs', '#') %></li>
  </ul>

<div class="row">
  <div class="col-md-2">
  </div>

  <div class="col-md-5">
    <h3>Invites sent!</h3>
  </div>
</div>

