<div class="row">
	<div>
<p>
	Turn off the Kardashians.</br> 
	Close Facebook. </br>
	Stop playing with the dog. </br>
	<strong>It's time to Get Shit Done. </strong>
</p>
<p>
	Accountible is a tool for setting goals, tracking progress, and keeping you on track. Let's face it, distractions are everywhere. It's hard to stay disciplined if there isn't a hard deadline. We aim to help with that.
</p>
<p>
	We don't pretend that technology alone can solve these problems. Sometimes a little support, kick in the ass, or peer pressure is what it takes to keep us on track. 
</p>
	</div>
	<div>
		<img src="http://bighdwallpapers.com/thumbs/check-me-facebook-timeline-cover-photo-t2.jpg" style="border: 1px solid black">
	</div>
</div>


